.loader{
  display:none;
  height:38px;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:38px;

  @media (min-width:1000px) {
    
     margin-top:1rem
    
   }

 }

 .stories{
   
  display:flex;
  
  flex-wrap:wrap;
  
  justify-content:space-around;
  
  height: 60vw ;
  width: 100vw;
  background-size: 100%;
  background-repeat: no-repeat;
  text-align: center;
  align-items: flex-end;
  text-shadow: #000000 1px 1px 0px;
  
  @media (min-width:600px) {
    height: 15vw ;
    width: 25vw;
  

 }}

 .caption{
  background-color:rgba(128,128,128,0.5);

 }

b,b *,strong,strong * {
  font-style:normal;
  font-weight:700!important
 }
 em,em *,i,i * {
  font-style:italic
 }
 a img,fieldset,img {
  border:0
 }
 img {
  height:auto;
  max-width:100%
 }
 html {
  font-size:16px
 }
 body {
  background-color:#000;
  color:#fff;
  height:100vh
 }
 body,button,input {
  font-family:Open Sans,sans-serif;
  font-size:8px;
  font-size:.8rem;
 
 @media (min-width:600px) {
   
   font-size:9px;
   font-size:.9rem;
  
 }
 @media (min-width:1000px) {
  
   font-size:10px;
   font-size:1rem;
  }
 }

 input {
  border:none;
  border-bottom:1px solid #dbdbdb;
  font-family:Open Sans,serif;
  padding:.33333rem 2.5rem .33333rem 1rem
 }
 input:focus {
  border-bottom-color:#fff
 }
 
 button {
  border:0;
  background-color:#e2231a;
  color:#fff;
  cursor:pointer;
  display:block;
  font-weight:700;
  padding:.5rem 3rem;
  text-transform:uppercase
 }
 button:hover {
  background-color:#b41c15
 }
 .container {
  
  display:flex;
  display:block;
 
  flex-direction:column;
  height:100%;
 
  // justify-content:space-between;
  margin:0 auto;
  max-width:1600px;
  width:100%;
 @media (min-width:1000px) {
  .container {
    margin-left:0;
    margin-right:0
   }}

  
 }
 .screen-reader {
  border:0;
  clip:rect(0 0 0 0);
  height:1px;
  margin:-1px;
  overflow:hidden;
  padding:0;
  position:absolute;
  width:1px
 }
 .headernyt {
  
  align-content:center;
  
  display:flex;
  
  flex-wrap:wrap;
  height:70%;
  
  justify-content:center;
  // padding:2rem;
  @media (min-width:600px) {
    
     
     align-items:center;
     width:100%
    
   }
   @media (min-width:1000px) {
     
     
     justify-content:flex-start
    
    

 }
 

 .logo {
  display:block;
  width:300px;
  @media (min-width:600px) {
    max-width:250px;
    flex:0 1 25%;
    margin:0 1rem 0 0;
    text-align:left
  }
  @media (min-width:1000px) {
    max-width:300px;
  }


 }
 .search-form {
  display:block;
  width:300px;

  @media (min-width:600px) {
    max-width:250px
  }
  @media (min-width:1000px) {
    max-width:300px;
    flex:0 1 75%;
 }
 
 
 .logo {
  margin-bottom:1rem;
  text-align:center;
  transition:all .5s ease-out .5s
 }
 

 .search-form input {
  background-color:transparent;
  color:#fff;
  padding-left:2rem;
  width:100%
 }
 .search-form input,.search-form select {
  font-size:11px;
  font-size:1.1rem
 }
 .search-form-inner {
  display:inline-block;
  position:relative;
  text-align:center;
  margin-bottom:1rem;
  width:100%;

  @media (min-width:600px) {
    
     text-align:left
    
   }
 }
 
 .search-form-inner p {
  margin-bottom:1rem
 }
//  .story-grid {
//   margin:0 auto;
//   width:100%;

//  }
 
 
//  .stories {
  
//   display:flex;
  
//   flex-wrap:wrap;
  
//   justify-content:space-around;
//   margin-bottom:2rem
//  }
//  .stories {
  
//   flex:0 1 100%;
//   max-width:100%
//  }
//  .stories  .inner-item-wrapper {
//   position:relative;
//   @media (min-width:480px) {
    
     
//      flex:0 1 50%;
//      max-width:50%
    
//    }
//    @media (min-width:1000px) {
    
    
//      flex:0 1 25%;
//      max-width:25%
    
//    }
//  }
 

 .stories .article {
  display:block;
  width:100%;
  height:420px;
  background-position:50%;
  background-size:cover
 }
 .story-meta {
  background:rgba(0,0,0,.6);
  bottom:0;
  color:#fff;
  display:-ms-flexbox;
  display:flex;
  font-size:10px;
  font-size:1rem;
  padding:.5rem;
  position:absolute;
  width:100%
 }
 .story-meta p {
  line-height:1.5rem
 }
 .feedback {
  font-style:italic;
  margin:1rem 0;
  text-align:center
 }
}}

.story-grid{
display:flex;
flex-wrap: wrap;

}