
 @font-face {
  font-family:Open Sans;
  src:url(/fonts/OpenSans-Light.ttf);
  
  font-weight:400;
  font-style:normal
 }
 @font-face {
  font-family:Open Sans;
  src:url(/fonts/OpenSans-LightItalic.ttf);
 
 }
 @font-face {
  
 }
 @font-face {
 
 }