
 .footernyt {
  display: flex;
  justify-content: center; 
  margin: 3em 0; 
  color:#c2c2c2;
  font-size:9px;
  font-size:.9rem;
  text-align:center;
  padding:0 2rem;
  
 }
 @media (min-width:1000px) {
  .footernyt {
   text-align:left
  }
 }
 .copyright span {
  text-transform:uppercase
 }
 